bot_positive_negative_NodeRED.json
[{"id":"4a2a75ad.758a6c","type":"twitter in","z":"cc2eda3a.e59958","twitter":"","tags":" #Teste, #teste, #erro, #Erro, #bosta, #merda, #Merda, #zuado, #porcaria","user":"false","name":"","topic":"tweets","x":99,"y":112,"wires":[["847a3183.0105b"]]},{"id":"12410e4c.ef1192","type":"debug","z":"cc2eda3a.e59958","name":"","active":true,"console":"false","complete":"true","x":664.0000228881836,"y":171.71428203582764,"wires":[]},{"id":"f70be546.381738","type":"twitter out","z":"cc2eda3a.e59958","twitter":"","name":"Tweet","x":589,"y":261,"wires":[]},{"id":"847a3183.0105b","type":"function","z":"cc2eda3a.e59958","name":"","func":"var newMsg = {};\n\n\nnewMsg.payload = \"Olá @\" + msg.tweet.user.screen_name\n    + \", mande uma DM e vamos te ajudar! :)\";\n\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":356.57142639160156,"y":166.57143115997314,"wires":[["12410e4c.ef1192","f70be546.381738"]]},{"id":"ddc9e9da.598218","type":"twitter in","z":"cc2eda3a.e59958","twitter":"","tags":"#tech, #desenvolvimento, #linda, #amamos, #noderedbr, #noderedbrasil, #ferramenta, #amo, #twitter, #chatbot, #developer, #dev, #nodered, #amo, #melhor, ","user":"false","name":"","topic":"tweets","x":122.85714721679688,"y":434.2857360839844,"wires":[["ee73dc0f.cc36b"]]},{"id":"250ffe72.1e0302","type":"debug","z":"cc2eda3a.e59958","name":"","active":false,"console":"false","complete":"true","x":687.8571701049805,"y":494.000018119812,"wires":[]},{"id":"1c9198be.dafe67","type":"twitter out","z":"cc2eda3a.e59958","twitter":"","name":"Tweet","x":612.8571472167969,"y":583.2857360839844,"wires":[]},{"id":"ee73dc0f.cc36b","type":"function","z":"cc2eda3a.e59958","name":"","func":"var newMsg = {};\n\nnewMsg.payload = \"Hello @\" + msg.tweet.user.screen_name\n    + \", We thank you, do not forget to follow us. <3 Bot NodeRED\";\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":380.42857360839844,"y":488.8571672439575,"wires":[["250ffe72.1e0302"]]}]